rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global safety net
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow read/write for registrations
    match /registrations/{registrationId} {
      allow read, write: if true;
    }
  }
}
